---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div style="text-align:right">
    <a href=https://gitlab.inria.fr/sweet/sweet-www/blob/master/{{ page.path }} class="gitbutton pill">
      Edit this page on Gitlab
    </a>
  </div>

</article>
